<% content_for(:title) do %>
  <%= @restaurant.name %>
<% end %>

<%= render "restaurant", restaurant: @restaurant %>

<h4>Reviews</h4>
<% @restaurant.reviews.each do |r| %>
  <%= render "reviews/review", review: r %>
<% end %>

<%= link_to "Add a review", new_restaurant_review_path(@restaurant), class: "btn btn-primary" %>
<%= link_to "Back to homepage", restaurants_path, class: "btn btn-primary" %>
